<footer class="footer-wrapper">
  <div class="w-layout-blockcontainer container-default w-container">
    <div
      data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e54b1"
      class="card footer-card-wrapper"
    >
      <div class="inner-container _1156px center">
        <div class="footer-center">
          <div class="w-layout-grid grid-3-columns grid-footer">
            <div
              id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e54b5-57241a43"
              data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e54b5"
              class="flex-vertical align-start space-between"
            >
              <div>
                <a href="/home" class="logo-link w-inline-block">
                  <img
                    src="assets/images/freakum-logo-white.png"
                    alt="Freakum - Where Pleasure Begins"
                  />
                </a>
                <div class="mg-top-small">
                  <div class="text-neutral-300">
                    <p class="paragraph-large">
                      Designed for desire. Freakum brings you bold, beautiful
                      essentials that turn up the heat and keep things silky.
                    </p>
                  </div>
                  <div class="mg-top-default">
                    <div class="social-links-container">
                      <a
                        href="https://facebook.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media"></div></a
                      ><a
                        href="https://twitter.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media v2"><br /></div></a
                      ><a
                        href="https://www.instagram.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media"></div></a
                      ><a
                        href="https://www.linkedin.com/"
                        target="_blank"
                        class="social-media-icon-wrapper-dark social-icon-white w-inline-block"
                        ><div class="icon-font-social-media"></div></a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="mg-top-large">
                <div class="text-neutral-300">
                  <p class="paragraph-large">
                    Copyright © Freakum | Designed for Pleasure
                  </p>
                </div>
              </div>
            </div>
            <div
              id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e54d5-57241a43"
              data-w-id="35d5e139-74e2-bdb0-ab6f-5464403e54d5"
              class="menu-wrapper"
            >
              <div>
                <div class="footer-page-title">Main pages</div>
                <div class="nav-content">
                  <ul role="list" class="nav-menu-list-wrapper">
                    <li class="nav-menu-list-item">
                      <a href="/" class="nav-link white">Preview</a>
                    </li>
                  </ul>
                  <ul
                    id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e54f3-57241a43"
                    role="list"
                    class="nav-menu-list-wrapper"
                  >
                    <li class="nav-menu-list-item">
                      <a
                        href="/post/transform-your-office-with-these-low-maintenance-office-plants"
                        class="nav-link white"
                        >Blog post</a
                      >
                    </li>
                  </ul>
                  <div
                    id="w-node-_35d5e139-74e2-bdb0-ab6f-5464403e5509-57241a43"
                    class="inner-container _134px"
                  >
                    <ul role="list" class="nav-menu-list-wrapper">
                      <li class="nav-menu-list-item">
                        <a href="/shop-pages/collection" class="nav-link white"
                          >Collection</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
